.header__search {

	display: flex;
	height: 100%;
	flex: 1;

	background: white;

}

.header__search__input {

	flex: 1;
	padding: 0 32px;
	width: 100px;

	background: white;
	border: none;

	@mixin font title, 15px;
	@mixin font light;
	color: black;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $grey;
	}

	@media $md {
		padding: 0 22px;
	}
	@media $sm {
		padding: 0 16px;
	}

}

.header__search__submit {
	
	width: 54px;
    height: 54px;
	
    font-size: 25px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    margin-right: -15px;

}
