.drawer__list {
	margin: 22px 0;
}

.drawer__list li a {

	position: relative;

	display: block;
	padding: 10px 0 10px 25px;
	
	@mixin font title, 13px;
	@mixin font light;
	text-transform: uppercase;
	color: $dark-grey;
	text-decoration: none;

	&.-active {
		@mixin font bold;
	}
    
    &:hover{
        i{
            color: color($primary blackness(+5%));
            transition: color 0.2s;
        }
    }
}
 
.drawer__list li i {

	position: absolute 9px auto auto 0;

	display: inline-block;
	vertical-align: middle;
	top: 3px;
	font-size: 23px;
}