.drawer__title {

	display: flex;
	margin: 16px 0;

	@mixin font title, 13px;
	@mixin font regular;
	text-transform: uppercase;
	color: $blue;

}

i.drawer__title__btn {

    cursor: pointer;
    font-size: 23px;
    margin-top: -5px;
    color: $dark-grey;
    
	&:first-of-type {
		margin-left: auto;
	}
    
	&:not(:first-of-type) {
		margin-left: 6px;
        font-size: 26px;
        margin-top: -6px;
	}
    
    &:focus,
	&:hover {
		color: $blue;
	}

}